<% if current_user %>
<% @basket.basket_items.each do |item |%>
<div>
  <p><%= item.qty %>
    Dishes of
    <%= item.dish.name %>, price per each:
    <%= item.dish.price %>kr</p>
  <% end %>
  <div>
    <p>Your order total is
      <%= @basket.total %>
      kr</p>
    <%= form('/check_out', :post) %>

    <% fieldset(:basket) do |f| %>
    <%= f.hidden(:basket_id, value: @basket.id) %>

    <input type="submit" value="Finalize Order" class="button"/>
    <input type="button" id="cancel" value="Cancel Order" class="secondary button"/>
    <% end %>

  <% else %>
    <p>
      Please log in to enjoy ordering!
    </p>

    <% end %>

    <script type="text/javascript">
      $(document).ready(function () {
        $('#cancel').click(function () {
          window.location.href = "/cancel_order";
        });
      });
    </script>
